---
layout: "cols2_light"
---
- page '处方模板管理', 'prescription'

-# 大纲部分

- content_for :outline_toolbar do
  = partial :'layouts/buttons/insert', :locals => {:click => 'prescriptiontypeinsert()', :disabled => "!selectedId"}
  = partial :'layouts/buttons/remove', :locals => {:click => 'prescriptiontyperemove()', :disabled => "!selectedId"}

-#处方模板类型
= partial 'views/commons/nav_tree', :locals => {:sidename => "处方模版类型", :sidefieldname=> 'name'}

-# 主体部分
- content_for :toolbar do
  = partial :'layouts/buttons/insert', :locals => {:disabled => "!selectedId"}
  = partial :'layouts/buttons/removes'

- content_for :theader do
  - @page.listFields.each do |field|
    %th #{field.aliasName || field.fieldName}

- content_for :tbody do
  - @page.listFields.each do |column|
    %td
      = bind @page_id, (column.fieldKey || @fields[column.fieldName] || 'error')

-#表格(搜索+分页)
= partial :'layouts/table/table_full'

/ Modal
- modal '处方模板', 'prescription'

= partial :'layouts/partials/modal-full' do
  = partial 'modify'


-#/ Modal
-#- modal "处方模板类型", "prescriptiontype"
-#
-#= partial :'layouts/partials/modal' do
-#  = partial 'prescriptiontype'
