/ BEGIN SAMPLE FORM PORTLET
.portlet.light.bordered
  .portlet-title
    .caption
      %i.icon-settings.font-dark
      %span.caption-subject.font-dark.sbold.uppercase 会员信息
    .actions
      %a.btn.btn-circle.grey-salsa.btn-sm{:href => "javascript:;"}
        %i.fa.fa-plus
        新增主人

      %a.btn.btn-circle.grey-salsa.btn-sm{:href => "javascript:;"}
        %i.fa.fa-remove
        选择主人

  .portlet-body.form
    .form-body
      .row
        .col-md-4
          = partial :'layouts/inputs/text', :locals => {:keyword => 'gest', :fieldName => '会员编号', :maxlength => '32', :required => 'true'}

        .col-md-4
          = partial :'layouts/inputs/text', :locals => {:keyword => 'gest', :fieldName => '会员姓名', :maxlength => '32'}

        .col-md-4
          .form-group
            %label.control-label 会员等级
            %select.form-control
              %option 普通会员
              %option VIP会员

      .row
        .col-md-4
          .form-group
            %label.control-label 会员性别
            %select.form-control
              %option 男
              %option 女

        .col-md-4
          = partial :'layouts/inputs/date', :locals => {:keyword => 'gest', :fieldName => '出生日期', :maxlength => '16'}


        .col-md-4
          = partial :'layouts/inputs/text', :locals => {:keyword => 'gest', :fieldName => '年龄', :maxlength => '16'}

      .row
        .col-md-4
          = partial :'layouts/inputs/text', :locals => {:keyword => 'gest', :fieldName => '手机', :maxlength => '16'}

        .col-md-4
          = partial :'layouts/inputs/text', :locals => {:keyword => 'gest', :fieldName => '电话', :maxlength => '16'}

        .col-md-4
          = partial :'layouts/inputs/money', :locals => {:keyword => 'gest', :fieldName => '账户金额', :maxlength => '16'}

      .row
        .col-md-8
          = partial :'layouts/inputs/text', :locals => {:keyword => 'gest', :fieldName => '联系地址', :maxlength => '16'}

        .col-md-4
          = partial :'layouts/inputs/date', :locals => {:keyword => 'gest', :fieldName => '登记日期', :maxlength => '16'}
