
-#卡片样式
.tabbable-line
  %ul.nav.nav-tabs
    %li.active
      %a{"data-toggle" => "tab", :href => "//#product_basic"} 基本信息
    %li
      %a{"data-toggle" => "tab", :href => "//#product_pictures"} 图片信息

  .tab-content
    #product_basic.tab-pane.active
      .form-body
        .row
          .col-md-2
            = partial :'layouts/inputs/text', :locals => {:fieldName => '所属分类ID', :maxlength => '64'}

          .col-md-2
            = partial :'layouts/inputs/text', :locals => {:fieldName => '包装单位', :maxlength => '32'}

          .col-md-2
            = partial :'layouts/inputs/text', :locals => {:fieldName => '电子商务ID', :maxlength => '32'}

          .col-md-2
            = partial :'layouts/inputs/text', :locals => {:fieldName => '会员价格', :maxlength => '32'}

          .col-md-2
            = partial :'layouts/inputs/text', :locals => {:fieldName => '保质期', :maxlength => '32'}

        .row
          .col-md-3
            = partial :'layouts/inputs/text', :locals => {:fieldName => '所属分类', :maxlength => '32'}

          .col-md-3
            = partial :'layouts/inputs/text', :locals => {:fieldName => '编号', :maxlength => '32'}

          .col-md-6
            = partial :'layouts/inputs/text', :locals => {:fieldName => '名称', :maxlength => '32'}

        .row
          .col-md-3
            = partial :'layouts/inputs/text', :locals => {:fieldName => '条码', :maxlength => '32'}

          .col-md-3
            = partial :'layouts/inputs/text', :locals => {:fieldName => '规格', :maxlength => '32'}

          .col-md-3
            %label.control-label 剂型
            %select.form-control
              %option 无

          .col-md-3
            = partial :'layouts/inputs/text', :locals => {:fieldName => '零散比', :maxlength => '32'}

        .row
          .col-md-3
            %label.control-label 是否销售
            %select.form-control
              %option 是
              %option 否

          .col-md-3
            %label.control-label 是否打折
            %select.form-control
              %option 是
              %option 否

          .col-md-3
            = partial :'layouts/inputs/text', :locals => {:fieldName => '默认进价', :maxlength => '32'}

          .col-md-3
            = partial :'layouts/inputs/text', :locals => {:fieldName => '生产厂商', :maxlength => '32'}

        .row
          .col-md-3
            = partial :'layouts/inputs/text', :locals => {:fieldName => '销售价格', :maxlength => '32'}

          .col-md-3
            = partial :'layouts/inputs/text', :locals => {:fieldName => '销售单位', :maxlength => '32'}

          .col-md-3
            = partial :'layouts/inputs/text', :locals => {:fieldName => '处方价格', :maxlength => '32'}

          .col-md-3
            %label.control-label 处方单位
            %select.form-control
              %option 套

        .row
          .col-md-3
            = partial :'layouts/inputs/text', :locals => {:fieldName => '库存下限', :maxlength => '32'}

          .col-md-3
            = partial :'layouts/inputs/text', :locals => {:fieldName => '库存上限', :maxlength => '32'}

          .col-md-3
            = partial :'layouts/inputs/text', :locals => {:fieldName => '是否记库', :maxlength => '32'}

          .col-md-3
            = partial :'layouts/inputs/text', :locals => {:fieldName => '货位信息', :maxlength => '32'}

        .row
          .col-md-3
            = partial :'layouts/inputs/text', :locals => {:fieldName => '拼音码', :maxlength => '32'}

          .col-md-3
            = partial :'layouts/inputs/text', :locals => {:fieldName => '分组', :maxlength => '32'}

          .col-md-3
            %label.control-label 是否可兑换
            %select.form-control
              %option 是
              %option 否

          .col-md-3
            = partial :'layouts/inputs/text', :locals => {:fieldName => '兑换积分', :maxlength => '32'}

        .row
          .col-md-12
            = partial :'layouts/inputs/textarea', :locals => {:fieldName => '用法', :maxlength => '32'}

        .row
          .col-md-12
            = partial :'layouts/inputs/textarea', :locals => {:fieldName => '备注', :maxlength => '32'}


    #product_pictures.tab-pane
      -#文件上传
      = partial :'layouts/inputs/fileupload', :locals => {:keyword => '', :fieldName => '商品照片', :maxlength => '32', :required => "true"}

