- page "挂号查询", "register"

- content_for :toolbar do
  = partial :'layouts/buttons/insert', :locals => {:click => 'registerfastmodal()', :label => '快捷挂号'}

  = partial :'layouts/buttons/insert', :locals => {:label => '会员挂号'}

  = partial :'layouts/buttons/removes'

- content_for :theader do
  - @page.listFields.each do |field|
    %th #{field.aliasName || field.fieldName}

-#- content_for :ttoolbar do
-#  %a.btn.btn-outline.btn-circle.btn-sm.purple{'ng-click' => 'update(pet.id)'}
-#    %i.fa.fa-edit
-#    更新
-#  %a.btn.btn-outline.btn-circle.dark.btn-sm.black{:href => "javascript:;", 'ng': {'click':'remove(pet.id)'}}
-#    %i.fa.fa-trash-o
-#    Delete

- content_for :tbody do
  - @page.listFields.each do |column|
    %td
      = bind @page_id, (column.fieldKey || @fields[column.fieldName] || 'error')

/ 会员挂号
= partial :'layouts/partials/modal-lg' do
  = partial 'modify'

/ 快捷挂号
- modal "快捷挂号", "registerfast"

= partial :'layouts/partials/modal-lg' do
  = partial 'registerfast'

/ 选择宠物
- portal "选择宠物", "pet"

= partial :'views/commons/pet/portal_pet' do
  = partial :'layouts/buttons/insert', :locals => {:click => 'productportal.insert()'}
  = partial :'layouts/buttons/removes', :locals => {:click => 'productportal.removes()', 'disabled': 'isRemoves'}

/ 添加宠物
- modal "添加宠物", "pet"
= partial :'layouts/partials/modal-portal-lg' do
  = partial 'views/commons/pet/portal_pet_form'
