---
layout: "cols2_noborder"
---
- page '库存查询', 'stock'

-#数据字典类别
= partial 'views/commons/nav_datumtype', :locals => {:sidename => "种类", :sidefieldname=> 'name'}

- content_for :toolbar do
  = partial :'layouts/buttons/insert'
  = partial :'layouts/buttons/removes'

- content_for :theader do
  - @page.listFields.each do |field|
    %th #{field.aliasName || field.fieldName}

- content_for :tbody do
  - @page.listFields.each do |column|
    %td
      = bind @page_id, (column.fieldKey || @fields[column.fieldName] || 'error')


= partial :'layouts/partials/modal-lg' do
  = partial 'modify'
