---
layout: "cols2_listgroup"
---
- page '支出管理', 'expenditure'

-# 大纲部分

- content_for :outline_toolbar do
  = partial :'layouts/buttons/insert', :locals => {:click => 'expenditureinsert()'}
  = partial :'layouts/buttons/remove', :locals => {:click => 'expenditureremove()'}

-#宠物详细信息
= partial 'views/commons/nav_datumtype', :locals => {:sidename => "支出类型", :sidefieldname=> 'cateName'}

- content_for :toolbar do
  %button.btn.btn-circle.btn-default.btn-sm{:href => "javascript:;", 'ng': {'click':'insert()'}}
    %i.fa.fa-plus
    增加
  %button.btn.btn-circle.red-sunglo.btn-sm{:href => "javascript:;", 'ng': {'click':'removes()', 'disabled': 'isRemoves'} }
    %i.fa.fa-remove
    删除

- content_for :theader do
  - @page.listFields.each do |field|
    %th #{field.aliasName || field.fieldName}

- content_for :tbody do
  - @page.listFields.each do |column|
    %td
      = bind @page_id, (column.fieldKey || @fields[column.fieldName] || 'error')


= partial :'layouts/partials/modal-lg' do
  = partial 'modify'

/ Modal
- modal "服务商品分类", "expendituretype"

= partial :'layouts/partials/modal-lg' do
  = partial 'expendituretype'

