---
layout: "list_basic"
---
- page '会员等级管理', 'grade'

- content_for :toolbar do
  = partial :'layouts/buttons/insert'
  = partial :'layouts/buttons/removes'

- content_for :theader do
  - @page.listFields.each do |field|
    %th #{field.aliasName || field.fieldName}

- content_for :tbody do
  - @page.listFields.each do |column|
    %td
      = bind @page_id, (column.fieldKey || @fields[column.fieldName] || 'error')

-#表格(页面搜索)
= partial :'layouts/table/table_pagefilter'

/ Modal
= partial :'layouts/partials/modal' do
  = partial 'modify'
